body {
    font-family: Quicksand, sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
}

#blue {
    width: 100%;
    height: 48em;
    background-color: #DFE4F5;
}

#head-content {
    margin-left: 32%;
    margin-right: 32%;
}

#Bh1 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 2em;
    text-align: center;
    padding-top: 6em;
}

input[type=text] {
    border: none;
    font-family: Quicksand, sans-serif;
    color: #D7D7D7;
    padding: 1em;
    width: 20em;
}

input::placeholder {
    color: #D7D7D7;
}